@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  font-family: var(--font-geist-sans);
  background-color: theme('colors.dark');
}

.code {
  font-family: var(--font-jetbrains-mono);
}

.editor-text {
  font-family: var(--font-ia-quattro);
}

.code::before,
.code::after {
  content: none;
}

.summary-item {
  position: relative;
  overflow: hidden;
}

.summary-item-content {
  position: relative;
  z-index: 2;
}

/* Normal button styles */
.btn {
  @apply rounded-lg px-3 py-2 duration-300
}

/* Button styles for dialogs (see `components/Dialogs`) */
.btn-dialog {
  @apply px-[0.80rem] md:px-4 py-1 text-sm md:text-base rounded-md border duration-300;
}

.btn-dialog-hover {
  @apply hover:cursor-pointer;
}

/* Normal scrollbar */
::-webkit-scrollbar {
  width: 8px;
  border: 1px solid #d5d5d5;
}

::-webkit-scrollbar-track {
  border-radius: 0;
  background: #171717;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: #262626;
}

/* Scrollbar for x-axis overflowing */
::-webkit-scrollbar:horizontal {
  height: 8px;
  border: 1px solid #d5d5d5;
}

::-webkit-scrollbar-track:horizontal {
  background: #171717;
}

::-webkit-scrollbar-thumb:horizontal {
  background: #262626;
}

/* Use a thinner scrollbar for the textarea because it looks ugly with the 8px style */
.textarea-custom-scroll::-webkit-scrollbar {
  width: 6px;
}

.textarea-custom-scroll::-webkit-scrollbar-track {
  background: #101010;
}

.textarea-custom-scroll::-webkit-scrollbar-thumb {
  background: #262626;
  border-radius: 20px;
}

/* Gives all textareas/inputs a ...-amber-400 caret */
input::placeholder,
textarea::placeholder,
input,
textarea {
  caret-color: theme('colors.primary');
}

.footnotes h2#footnote-label {
  display: none;
}

/* Animations */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}