@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  font-family: 'Geist Sans', sans-serif;
}

.code {
  font-family: 'Jetbrains Mono', monospace;
}

.code::before,
.code::after {
  content: none;
}

.editor-text {
  font-family: 'iA Writer Duo', sans-serif;
}

.summary-item {
  position: relative;
  overflow: hidden;
}

.summary-item .shine {
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle at var(--shine-x) var(--shine-y), rgba(62, 61, 61, 0.4) 0%, transparent 70%);
  transition: 0.3s ease;
  pointer-events: none;
  z-index: 1;
}

.summary-item-content {
  position: relative;
  z-index: 2;
}

/* Custom toast styles */
.toast-container {
  @apply bg-dark border border-neutral-800 rounded-lg shadow-lg p-4 z-[1050];
}

.toast-title {
  @apply text-lg text-zinc-100 font-semibold;
}

.toast-message {
  @apply text-sm text-zinc-300 mt-1;
}

/* Normal button styles */
.btn {
  @apply rounded-md px-3.5 py-2.5 duration-300
}

/* Button styles for dialogs (see `components/Dialogs`) */
.btn-dialog {
  @apply px-4 py-1 rounded-md duration-300;
}

.btn-dialog-hover {
  @apply hover:cursor-pointer;
}

/* Normal scrollbar */
::-webkit-scrollbar {
  width: 8px;
  border: 1px solid #d5d5d5;
}

::-webkit-scrollbar-track {
  border-radius: 0;
  background: #171717;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: #262626;
}

/* Scrollbar for x-axis overflowing */
::-webkit-scrollbar:horizontal {
  height: 8px;
  border: 1px solid #d5d5d5;
}

::-webkit-scrollbar-track:horizontal {
  background: #171717;
}

::-webkit-scrollbar-thumb:horizontal {
  background: #262626;
}

/* Use a thinner scrollbar for the textarea because it looks ugly with the 8px style */
.textarea-custom-scroll::-webkit-scrollbar {
  width: 4px;
}

.textarea-custom-scroll::-webkit-scrollbar-track {
  background: #101010;
}

.textarea-custom-scroll::-webkit-scrollbar-thumb {
  background: #262626;
  border-radius: 20px;
}